In [ ]:
from google.colab import files
uploaded = files.upload()

Saving DailyLevel_data_Lakewood.csv to DailyLevel_data_Lakewood.csv

In [ ]:
!pip install pytrends #first
import pandas as pd
from pytrends.request import TrendReq
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pytrends
  Downloading pytrends-4.8.0.tar.gz (19 kB)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.7/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pytrends) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pytrends) (4.2.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2.10)
Building wheels for collected packages: pytrends
  Building wheel for pytrends (setup.py) ... done
  Created wheel for pytrends: filename=pytrends-4.8.0-py3-none-any.whl size=16126 sha256=e59d2330291a637911a66122ffa741692c2665a19545c5383c4ddb5c3ee6f8f0
  Stored in directory: /root/.cache/pip/wheels/07/6f/5c/8174f98dec1bfbc7d5da4092854afcbcff4b26c3d9b66b5183
Successfully built pytrends
Installing collected packages: pytrends
Successfully installed pytrends-4.8.0

In [ ]:
data_set = pd.read_csv("DailyLevel_data_Lakewood.csv",error_bad_lines=False, engine="python")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
data_set

,Unnamed: 0,X,DATE,business_id,business_name,ch_in,business_lat,business_long,business_stars,bus_review_count,...,SNWD,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES,male,female
0,1,1,2018-01-01,0qsarzXaZau8REdE0rToxA,Angelo's Pizza,1,41.476993,-81.788259,4.0,520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
1,2,2,2018-01-01,BzDvGft8UQraA8waOU1BOA,TJ's Butcher Block & Deli,0,41.485191,-81.795254,4.5,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2,3,3,2018-01-01,JFaTPxWQC14VmFnXLv7W1g,Melt Bar and Grilled,0,41.485336,-81.799077,4.0,870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
3,4,4,2018-01-01,TcZFpLzeu46mbIBNNNVhmQ,Ice Cream Joy,0,41.477438,-81.803035,4.5,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2
4,5,5,2018-01-01,zMdpFu7hpvrHChR7H2XCfA,Cozumel,0,41.485465,-81.812460,4.0,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,7596,7596,2018-10-31,_6hReDyVSr94W2WMO1LJLw,The Root Cafe,0,41.485137,-81.802079,4.5,294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6
7596,7597,7597,2018-10-31,TcZFpLzeu46mbIBNNNVhmQ,Ice Cream Joy,0,41.477438,-81.803035,4.5,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2
7597,7598,7598,2018-10-31,BzDvGft8UQraA8waOU1BOA,TJ's Butcher Block & Deli,0,41.485191,-81.795254,4.5,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
7598,7599,7599,2018-10-31,VXVrYjLRqNpQY-ogN9ztmQ,Cleveland Vegan,0,41.485527,-81.816194,4.5,114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
7599,7600,7600,2018-10-31,le3JWiS5uZTkofP90Rm0pA,Barroco,0,41.477075,-81.778338,4.5,554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3

In [ ]:
bus_list=data_set.business_name.unique()

In [ ]:
bus_list.sort()

In [ ]:
bus_list

array(["Angelo's Pizza", 'Around the Corner Saloon & Cafe', 'Barrio',
       'Barroco', 'Cleveland Vegan', 'Cozumel', "Deagan's Kitchen & Bar",
       'El Tango Latin Grill', 'Forage Public House', 'Ice Cream Joy',
       'India Garden', 'Jammy Buggars', 'Melt Bar and Grilled',
       'Mid Town Booths Tavern', 'Namaste India Garden', "Nature's Bin",
       'Pacers', "Pepper's Italian Restaurant", 'Pier W', 'Red Rose Cafe',
       "TJ's Butcher Block & Deli", 'Taco Tontos',
       'The Proper Pig Smokehouse', 'The Root Cafe',
       'sarita a restaurant'], dtype=object)

In [ ]:
from gensim.parsing.preprocessing import remove_stopwords
new_list = []
for i in bus_list:
  i = remove_stopwords(i)
  new_list.append(i) 
len(new_list)

Angelo's Pizza
Angelo's Pizza
Around the Corner Saloon & Cafe
Around Corner Saloon & Cafe
Barrio
Barrio
Barroco
Barroco
Cleveland Vegan
Cleveland Vegan
Cozumel
Cozumel
Deagan's Kitchen & Bar
Deagan's Kitchen & Bar
El Tango Latin Grill
El Tango Latin Grill
Forage Public House
Forage Public House
Ice Cream Joy
Ice Cream Joy
India Garden
India Garden
Jammy Buggars
Jammy Buggars
Melt Bar and Grilled
Melt Bar Grilled
Mid Town Booths Tavern
Mid Town Booths Tavern
Namaste India Garden
Namaste India Garden
Nature's Bin
Nature's Bin
Pacers
Pacers
Pepper's Italian Restaurant
Pepper's Italian Restaurant
Pier W
Pier W
Red Rose Cafe
Red Rose Cafe
TJ's Butcher Block & Deli
TJ's Butcher Block & Deli
Taco Tontos
Taco Tontos
The Proper Pig Smokehouse
The Proper Pig Smokehouse
The Root Cafe
The Root Cafe
sarita a restaurant
sarita restaurant

25

In [ ]:
%matplotlib inline
plt.style.use('bmh')
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
# connect to google
pytrends = TrendReq(hl='en-US', tz=360)
import numpy as np

In [ ]:
d = { 'Google interest': []}
Complete_df = pd.DataFrame(data=d)
for bus_name in new_list:
  # keywords to search for
  search = pd.DataFrame()
  sum1 = pd.DataFrame(data=d)
  ls= bus_name.split() 
  pytrends.build_payload(kw_list=ls,timeframe="2017-12-31 2018-10-31",geo='US-NJ')
  # dataframe
  search = pytrends.interest_over_time()
  # print((search))
  first = True
  for index, row in search.iterrows():
    np_row = np.array(row)
    n = 6 if first else 4 if index == search.index[-1] else 7
    first = False
    for i in range(n):
        summing = int(np.sum(np_row[0:-1])/len(np_row))
        sum1.loc[len(sum1.index)] = [summing]
  # print(Complete_df)
  Complete_df = Complete_df.append(sum1, ignore_index = False)
#Plot a graph of google interest vs check ins for all together 



# df.to_csv('gtrends11.csv')
# files.download("gtrends11.csv")
# creating graph
# fig, ax = plt.subplots(figsize=(12, 6))
# df.head(7)
# df['Big'].plot(color='purple')
# adding title and labels
# plt.title('Total Google Searches for '+ls[0], fontweight='bold')
# plt.xlabel('Year')
# plt.ylabel('Total Count')

In [ ]:
Complete_df.size
Complete_df = Complete_df.reset_index(drop=True)

In [ ]:
sorted_data = data_set.sort_values(by=['business_name'])

In [ ]:
concat = pd.concat([sorted_data, Complete_df], axis=1)

In [ ]:
to_download= concat.sort_values(by=['business_id'])

In [ ]:
to_download.to_csv('gtrends_lakewood.csv')
files.download("gtrends_lakewood.csv")

In [ ]:
to_download

,Unnamed: 0,X,DATE,business_id,business_name,ch_in,business_lat,business_long,business_stars,bus_review_count,...,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES,male,female,Google interest
1551,1552,1552,2018-03-04,-rWTAGqvub6JFyBeoG5ONg,Mid Town Booths Tavern,0,41.485494,-81.815563,3.5,22,...,",,7",189.0,",,7",22.0,",,7",33.0,",,7,0730",1,0,30.0
5342,5343,5343,2018-08-02,-rWTAGqvub6JFyBeoG5ONg,Mid Town Booths Tavern,0,41.485494,-81.815563,3.5,22,...,",,7",267.0,",,7",128.0,",,7",172.0,",,7,0730",1,0,32.0
6182,6183,6183,2018-09-05,-rWTAGqvub6JFyBeoG5ONg,Mid Town Booths Tavern,0,41.485494,-81.815563,3.5,22,...,",,7",261.0,",,7",117.0,",,7",133.0,",,7,0730",1,0,26.0
653,654,654,2018-01-27,-rWTAGqvub6JFyBeoG5ONg,Mid Town Booths Tavern,0,41.485494,-81.815563,3.5,22,...,",,7",39.0,",,7",-56.0,",,7",-44.0,",,7,0730",1,0,22.0
4459,4460,4460,2018-06-28,-rWTAGqvub6JFyBeoG5ONg,Mid Town Booths Tavern,0,41.485494,-81.815563,3.5,22,...,",,7",367.0,",,7",172.0,",,7",239.0,",,7,0730",1,0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2838,2839,2839,2018-04-24,zMdpFu7hpvrHChR7H2XCfA,Cozumel,0,41.485465,-81.812460,4.0,140,...,"T,,7",161.0,",,7",-6.0,",,7",0.0,",,7,0730",2,2,34.0
7324,7325,7325,2018-10-20,zMdpFu7hpvrHChR7H2XCfA,Cozumel,0,41.485465,-81.812460,4.0,140,...,",,7",194.0,",,7",28.0,",,7",50.0,",,7,0730",2,2,27.0
592,593,593,2018-01-24,zMdpFu7hpvrHChR7H2XCfA,Cozumel,0,41.485465,-81.812460,4.0,140,...,",,7",67.0,",,7",-83.0,",,7",-22.0,",,7,0730",2,2,28.0
1720,1721,1721,2018-03-10,zMdpFu7hpvrHChR7H2XCfA,Cozumel,0,41.485465,-81.812460,4.0,140,...,",,7",178.0,",,7",33.0,",,7",61.0,",,7,0730",2,2,34.0
3798,3799,3799,2018-06-01,zMdpFu7hpvrHChR7H2XCfA,Cozumel,0,41.485465,-81.812460,4.0,140,...,",,7",306.0,",,7",117.0,",,7",189.0,",,7,0730",2,2,24.0